NODE_ENV=development
APP_BASE_URL=http://localhost:3000

# Whop
WHOP_CLIENT_ID=app_YfPxGlZjE5rBqx
WHOP_CLIENT_SECRET=GjVXI99WaCsTcjXR84fCcNmrkGPLvEF1yiWuWn1Kg4k
WHOP_REDIRECT_URI=https://auto-charge-saver.vercel.app/auth/whop/callback
WHOP_WEBHOOK_SECRET=
WHOP_API_KEY=GjVXI99WaCsTcjXR84fCcNmrkGPLvEF1yiWuWn1Kg4k
NEXT_PUBLIC_WHOP_APP_ID=app_YfPxGlZjE5rBqx
NEXT_PUBLIC_WHOP_AGENT_USER_ID=user_nHTkphFQxMcWn
NEXT_PUBLIC_WHOP_COMPANY_ID=biz_shk0jP2Pj2qJD3

# Database
DATABASE_URL="file:./dev.db"

# Optional channels
RESEND_API_KEY=
TELEGRAM_BOT_TOKEN=
DISCORD_WEBHOOK_URL=


